@use '../variables';

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;

    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    
    background: variables.$primary-bg-color;

    transform: translateX(-100%);
    transition: transform 500ms;
}

.sidebar_active {
    transform: translateX(0%);
}

.sidebar__header {
    padding: 2rem 0.5rem 0.5rem 1rem;

    text-align: center;

    @include variables.secondary-font(2.5rem);
}

.sidebar__arrow {
    position: absolute;
    
    top: 50%;
    right: 1rem;

    transition: transform 500ms;

    font-size: 1.5rem;

    cursor: pointer;
}

.arrow_rotate {
    transform: rotateY(0.5turn);
}

.sidebar__content {
    flex: 1 1 auto;

    display: flex;
    flex-flow: column nowrap;

    padding: 1.5rem;

    overflow: hidden;
    scroll-behavior: smooth;
}

.sidebar__item {
    display: flex;
    align-items: center;

    height: 3.5rem;

    letter-spacing: 0.1rem;
    @include variables.secondary-font(2.0rem);

}

.sidebar__link {
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;

    border-radius: 10px;

    transition: transform 300ms;

    cursor: pointer;
}

.sidebar__link:hover {
    transform: scale(1.1, 1.1);
}

.sidebar__link:active {
    transform: scale(0.8, 0.8);
}

@media (width > 768px) {
    .sidebar {
        width: 25rem;
    }

    .sidebar__content {
        max-height: 70%;
    }

    .sidebar__arrow {
        z-index: 1;

        padding: 1rem;

        transition: transform 500ms;
    }

    .sidebar__arrow:hover {
        transform: scale(1.2, 1.2);
    }

    .sidebar__link {
        padding-left: 1.5rem;
    }

    .sidebar_active::before {
        position: fixed;
        top: 0;
        left: 100%;

        width: 100vw;
        height: 100vh;

        background: rgb(0,0,0,0.5);

        content: '';
    }
}

@media (width < 768px) {
    .sidebar {
        width: 100%;
    }

    .sidebar__content {
        flex: 0 1 auto;

        max-height: 500px;
    }

    .sidebar__arrow {
        top: unset;
        right: unset;
        bottom: 10%;
        left: 50%;
        transform: translate(-35%, 0);

        display: inline-block;
        padding: 15px 18px 10px 15px;

        border-radius: 50%;
        background: rgb(255,255,255);
        color: variables.$primary-bg-color;

        transition-property: background-color, color;
        transition-duration: 500ms, 500ms;
    }

    .sidebar__arrow:hover {
        background-color: variables.$secondary-bg-color;
        color: rgb(255,255,255);
    }

    .sidebar__item {
        justify-content: center;
    }

    .sidebar__item:hover {
        border-radius: 10px;
        background: variables.$secondary-bg-color;
    }

    .sidebar__link {
        justify-content: center;
    }
}