/* Контейнер, содержащий слайды  */
.carousel__content {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    /* scroll-behavior: smooth; */

    /* touch-action: manipulation; */
}

/* Слайд с изображением */
.carousel__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 100%;
    position: relative;
    color: white;
    background: rgb(66, 66, 66);
    font-size: 4rem;
    /* z-index: 1; */
    
}

.carousel__slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}