@use "fonts.scss";
@use './variables';

%document-style {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;

    scrollbar-width: none;

    font-family: variables.$primary-font-family;
    background: variables.$body-bg-color;
    color: variables.$primary-font-color;
}

html {
    @extend %document-style;
}

body {
    @extend %document-style;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 75px;
    width: 100%;

    padding-top: 75px;

    @media (width < 768px) {
        padding-top: 45px;
    }
}

form, fieldset, label, 
ul, li, a, button {
    all: unset;
}

button {
    cursor: pointer;
}